<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
    	[ { question: "Capital de Italia”, answer: “Roma" },
 { question: "Capital de Francia”, answer: "París"},
 { question: "Capital de España”, answer: “Madrid”},
 { question: "Capital de Portugal”, answer: “Lisboa"}
]
    </p>
  </body>
</html>
